{{>header}}
<div id="detailsMovie">
    <h1>Details</h1>
    <div class="movie">
        <h2>Title: Us (2019)</h2>
        <img
            src="https://m.media-amazon.com/images/M/MV5BZTliNWJhM2YtNDc1MC00YTk1LWE2MGYtZmE4M2Y5ODdlNzQzXkEyXkFqcGdeQXVyMzY0MTE3NzU@._V1_UX140_CR0,0,140,209_AL_.jpg">
        <p>A family's serenity turns to chaos when a group of doppelgängers begins to terrorize them.</p>
        <h2>Genres</h2>
        <ul class="genres">
            <li>Horror,Triller</li>
        </ul>
        <p>Available Tickets: 50</p>
        <button><a href="#">Buy Ticket</a></button>
    </div>
</div>
{{>footer}}
