<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Cinema</a></li>
        <li><a href="#">Add Movie</a></li>
        <li><a href="#">My Movies</a></li>
        <li class="right"><a href="#">Logout</a></li>
        <li class="right">Welcome, user!</li>
        <li class="right"><a href="#">Register</a></li>
        <li class="right"><a href="#">Login</a></li>
    </ul>
</nav>